---
---

@import "{{ site.theme }}";

header {
	background: {{ site.background-color | default: "#72f23f" }};

	h1 {
		color: {{ site.title-color | default: "#3fbf26" }};
	}

	.icon {
		float:left;
		padding-right: 10px;
	}
}

strong {
	color: {{ site.bold-color | default: "#242" }};
}

ol ol {
	list-style-type: lower-alpha;
}

.navbar {
	background: none;
	border-radius: 0px;
	padding: 0;

	ul {
		height: 28px;

		li {
			height: 28px;
			width: unset;
			padding: 0 10px;
		}
	}
}

header ul {
	background-color: {{ site.list-color | default: "#5198DF" }};

	li {
		border-right-color: {{ site.list-border-color | default: "#3A7CBE" }};
	}

	li + li {
		border-left-color: {{ site.list-border-color-light | default: "#8BBEF3" }};
	}
}

ol li {
	font-weight: bold;

	p:first-child {
		font-weight: bold;
	}

	ol li {
		font-weight: bold;
	}

	* {
		font-weight: initial;
	}
}

.previous {
	left: 0;
	right: auto;
}

.next {
	right: 0;
}

.spacer {
	height: 54px;
}

.prefix {
	display: none;
}

@media screen and (max-width: 740px) {
	.navbar ul {
		display: block;
		position: static;
	}

	.navbar .previous, .navbar .next {
		height: auto;
		li {
			width: 100%;
			height: auto;
			float: none;
			box-sizing: border-box;
			border: none;
			.prefix {
				display: inline-block;
			}
			a {
				height: auto;
				padding-bottom: 6px;
			}
		}
	}
}